name: Spell Check

on:
  push:
    branches:
      - main
  pull_request: {}

permissions:
  contents: read

jobs:
  spellcheck:
    name: Check Spelling
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: streetsidesoftware/cspell-action@v6
        with:
          files: "**/*.{html,md}"
